* {
  padding: 0px;
  margin: 0px;
}

.saved-texts-bg {
  background-color: #9ba9eb;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.nav-bg {
  background-color: #7683cb;
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.nav-heading {
  color: #454f84;
  padding-left: 48px;
}

.saved-texts-container {
  padding: 32px;
  margin-left: 48px;
}

ul {
  list-style-type: disc;
}

li {
  color: darkslategrey;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 12px;
}

.loader-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
